{% extends 'base.html.twig' %}
{% block body %}
<section class="end_header">
    <div>
        <span>LE RHUM</span>
        <span>CARIBÉEN</span>
        <div></div>
        <span>BIO</span>
        <button class="connect">S'INSCRIRE</button>
    </div>
</section>
{% block main %}
<main class="mainhome">
    <!-- Premiere partie du main  -->
    <section class="starproduits">
        <div></div>
        <div class="border"></div>
        <span>LA STAR DE <b>NOS PRODUITS</b></span>
        <div class="border"></div>
        <div class="palmier"><img src="img/palmier.jpg" alt=""><img src="img/palmier.jpg" alt=""></div>
    </section>
    <section class="rectproduit">
        <div class="rect50">
            <div><img id="imgRotate" src="img/losange.png"></div>
        </div>
        <div class="recttext">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe fuga distinctio accusamus, animi voluptate aperiam tempore iste amet, modi sit ducimus maxime quos soluta cupiditate quod quidem debitis. At, dicta!</p>
            <button class="btnAchat">ACHETEZ</button>
        </div>
        <div class="bottle">
            <img src="img/bottle.png" alt="">
        </div>
    </section>
    <section class="starproduits">
        <div class="border"></div>
        <span id="nosproduits">NOS PRODUITS</span>
        <div class="border"></div>
        <div class="palmier"></div>
        <div class="palmier"><img src="img/palmier.jpg" alt=""> <img src="img/palmier.jpg" alt=""></div>
    </section>
    <!-- - Deuxième partie du main  -->
    {% block section %}
    {# {% for produits in produit %}
        <div>{{ produit.img }}</div>
        <div>{{ produit.nomProduit }}</div>
        <div>{{ produit.description }}</div>
    {% endfor %} #}
    <section class="mainpartie2">
        <article class="article1">
            <div id="firstlign">
            </div>
        </article>
    </section>
    {% endblock %}
    <!-- Fin Deuxième partie -->

    <!-- Troisème et dernière partie -->
    <section class="starproduits">
        <div class="border"></div>
        <span id="notrehistoire">NOTRE HISTOIRE</span>
        <div class="border"></div>
        <div class="palmier"></div>
        <div class="palmier"><img src="img/palmier.jpg" alt=""> <img src="img/palmier.jpg" alt=""></div>
    </section>
    <section class="mainpartie3">
        <div class="who">
            <span>Qui sommes-nous?</span>
            <div class="border"></div>
        </div>
        <article class="squaretext">
            <div class="square1">
                <div class="square2">
                    <div class="divimg">
                    </div>
                </div>
            </div>
            <div class="lasttext">
                <div class="smallborder"></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae mollitia tenetur eos quae. Corrupti cumque nemo voluptas quam amet earum ipsum optio quisquam enim, voluptates possimus a ducimus, repellat, voluptate mollitia? Minima sint laborum quae voluptate eos mollitia expedita voluptas consectetur sit rem! Autem ab molestiae, itaque hic earum quisquam error inventore saepe totam facilis.</p>
                <div class="smallborder"></div>
            </div>
        </article>
    </section>
    <div></div>
</main>
{% endblock main %}
 {% endblock body %}