<footer>
    <div></div>
    <section class="blackpart">
        <div>
        <p>SUIVEZ-NOUS SUR </p>
        </div>
        <div>
        <img src="img/et_facebook.png" alt="">
        <img src="img/teenyicons_instagram-solid.png" alt="">
        <img src="img/bi_twitter.png" alt="">
        </div>
    </section>
    <section class="whitepart">
        <span>L'ABUS D'ALCOOL EST DANGEREUX POUR LA SANTÉ , À CONSOMMER AVEC MODÉRATION.</span>
        <span>Nous sommes en faveur des prises de décision responsables.</span>
    </section>
</footer>